<!DOCTYPE html>
<html>

<head>
    <title>CWPP AKS Lab</title>
</head>

<body>

<h1>{{ app_name }}</h1>

<h2>AKS GitOps Demo</h2>

<hr>

<table border="2" cellpadding="10">

<tr>
<td><b>Environment</b></td>
<td>{{ app_env }}</td>
</tr>

<tr>
<td><b>Application Version</b></td>
<td>{{ app_version }}</td>
</tr>

<tr>
<td><b>Git Commit</b></td>
<td>{{ git_commit }}</td>
</tr>

<tr>
<td><b>Image Tag</b></td>
<td>{{ image_tag }}</td>
</tr>

<tr>
<td><b>Pod Name</b></td>
<td>{{ hostname }}</td>
</tr>

<tr>
<td><b>Namespace</b></td>
<td>{{ namespace }}</td>
</tr>

<tr>
<td><b>Node</b></td>
<td>{{ node_name }}</td>
</tr>

<tr>
<td><b>Current Time</b></td>
<td>{{ current_date }}</td>
</tr>

</table>

</body>
</html>